.gallery-container .gal_list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-container .gal_item {
  aspect-ratio: 1 / 1;
  overflow: hidden;
}

.gallery-container .gal_list img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.gallery-container .gal_show {
  border: none;
  left: 50%;
  max-height: 87.5vh;
  max-width: 87.5vw;
  outline: 4px solid rgba(255, 255, 255, 0.5);
  overflow: hidden;
  top: 50%;
  transform: translate(-50%, -50%);
}
.gallery-container .gal_show::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.gallery-container .gal_show img {
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
