.product-groups {
    background-color: rgb(225, 225, 225);
    padding: 80px 100px;
 
    @media(max-width: 425px) {
        padding: 50px 20px;
    }
}
 
.product-icon > img {
    height: 50px;
    
}
 
.icon-text {
    display: flex;
    gap: 50px;
 
    @media(max-width: 425px) {
        display: block;
        place-items: center;
    }
}
 
h2 {
    text-align: center;
}
 
h3 {
    padding: 80px 100px 30px 100px;
    align-self: center;
}
 

 
#products ul li {
  display: grid;
  grid-template-areas:
    ". title"
    "icon desc";
}